{% block content %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "Your_KEY_ID",
    "amount": "50000",
    "currency": "INR",
    "name": "Black", 
    "description": "Test Transactions",
    "image": "https://example.com/img",
    "order_id": "order_KHJNLJK",
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    }
}

</script>
{% end block %}